#display{
    border: 2px solid black;
    padding: 16px;
    text-align: center;
    margin: 16px;
    background-color: lightseagreen;
    color: white;
    font-weight: bold;
    overflow-wrap: break-word;
}

#Button-container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:5px 10px;
    margin: 3% 5%;
}
.buttons{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    padding: 16px 0;
}
.buttons:hover{
    filter: contrast(80%);
    
}
#calc{
    background-color: lightblue;
    margin: 4% 30%;
    border: 2px solid black;
}
#clear{
    grid-column-start:1 ;
    grid-column-end:3 ;
}
#equal{
    grid-column-start: 3;
    grid-column-end:5 ;
}